<!DOCTYPE html>
<html>

<head>
    <title>Python 真难</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Python 真难，蓝瘦。</h1>

    <p>但有很多可爱的同学可以帮助我，他们是：</p>

    <ul>
        {% for student in students %}
        <li>{{student}}</li>
        {% endfor %}
    </ul>

    <a href="index.html?page=1">[1]</a>
    <a href="index.html?page=2">[2]</a>
    <a href="index.html?page=3">[3]</a>
    <a href="index.html?page=4">[4]</a>
</body>

<script src="/scripts.js"></script>

</html>